<!--
  * Aula 24.07. Ajustando Estado e Cidade na Pesquisa de Pessoas
  *
  * Nesta aula aqui, a gente vai so ajustar a nossa tela de Pesquisa de Pessoa, ja que la a gente exibia, na verdade ainda exibe, 
  * porque a gente so vai alterar a Cidade e o Estado e a gente teve essa mudanca de estrutura e nos vamos precisar alterar, entao, 
  * no componente pessoas-pesquisa. Vamos abrir o HTML pessoas-pesquisa.component.html.
  * 
  * Vamos encontrar, aqui, onde exibe a cidade e o estado,
  *     <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.endereco.cidade }}</td>
            <td>{{ pessoa.endereco.estado }}</td>
  *             
  * 1. Nesse ponto, o que nos vamos fazer eh, em cidade, no caso de ser nulo, adicionar ?, e adicionar .nome ao atributo .cidade.
            <td>{{ pessoa.endereco.cidade?.nome }}</td>
  * 2. A mesma coisa faremos para estado.
            <td>{{ pessoa.endereco.cidade?.estado.nome }}</td>
  *
  * 3. Agora, vamos testar, http://localhost:4200/pessoas. Verificamos que esta sendo exibido os registros de Cidade, Estado, na 
  * nossa Pagina de Pesquisa, com os nomes das Cidades e Estados.
  *
  * 4. Fim da Aula 24.07. Ajustando Estado e Cidade na Pesquisa de Pessoas.
-->
<!--
  * Aula 25.05. Corrigindo Icones
  * 
  * 4. Vamos ate os botoes para corrigir os seus icones, conforme atualizacao das dependencias do Angular.
  * 
  * 5.  Ao inves de definir apenas, no atributo icon, fa-pencil, a gente vai precisar definir mais um
  * fa, fa fa-pencil.
  *
  * 6. Agora, vamos testar, http://localhost:4200/pessoas. Clicando para Editar, nos temos, em http://localhost:4200/pessoas/1,
  * os icones do Grid de Contatos para corrigir.
  *
  * 7. Vamos, agora, abrir o componente de Contatos.
  * Ver pessoa-cadastro-contato.component.html.
  *
  * 18. Agora, vamos voltar alterar o botao para link. Anteriormente, foi alterado de link 
  * para botao por causa da questao do espacamento. Agora, vamos corrigir para ficar como foi definido originalmente.
  *
  * 19. Testando, em http://localhost:4200/pessoas/1, aparentemente nao alterou nada, mas, passando o mouse pelo link do icone de Edicao,
  * aparece o link no rodape da Pagina. Inclusive, se clicar com o botao direito no link do icone de Edicao, selecionar Abrir Link em 
  * uma Nova Pagina, vai abrir o Registro selecionado em uma nova Aba do Browser.
  *
  * 20. Testamos, tambem, em http://localhost:4200/lancamentos/1, o link nos icones de Edicao e aparece o endereco do link no rodape
  * do Browser. Clicando no link do icone de Edicao, abre o Registro selecionado de Lancamento para Edicao.
  *
  * 21. Fim da Aula 25.05. Corrigindo Icones.
  * 
-->
<div class="container">

  <div class="ui-g">

    <form autocomplete="off" (ngSubmit)="pesquisar()">

      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input pInputText type="text" name="nome"
            [(ngModel)]="filtro.nome">
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>

    </form>

  </div>

  <div class="ui-g">
    <div class="ui-g-12">
      <!--app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid-->
      <!-- DATATABLE -->
      <!--
      <p-dataTable [value]="pessoas" [responsive]="true" 
        emptyMessage="Nenhuma pessoa encontrada."
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true"
        [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela2>
        <p-column field="nome" header="Nome"></p-column>
        <p-column field="endereco.cidade" header="Cidade"></p-column>
        <p-column field="endereco.estado" header="Estado"></p-column>
        <p-column field="ativo" header="Status">
          <ng-template let-pes="rowData" pTemplate="body">
              <a href="javascript:;" [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
                  tooltipPosition="top"
                  (click)="mudarStatus(pes, $event)">
                {{ pes.ativo ? 'Ativo' : 'Inativo' }}
              </a>
          </ng-template>
        </p-column>
        <p-column styleClass="col-acoes">
          <ng-template let-pessoa="rowData" pTemplate="body">
            <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                [routerLink]="['/pessoas', pessoa.codigo]"></a>

            <button pButton icon="fa-trash" 
                pTooltip="Excluir" tooltipPosition="top"
                (click)="confirmarExclusao(pessoa)"></button>

          </ng-template>
        </p-column>
      </p-dataTable>
      <!-- DATATABLE -->
      
      <!-- TURBOTABLE -->
      <p-table [value]="pessoas" [responsive]="true" 
        [paginator]="true" [rows]="filtro.itensPorPagina"
        [lazy]="true"
        [totalRecords]="totalRegistros"
        (onLazyLoad)="aoMudarPagina($event)"
        #tabela2>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th>Estado</th>
            <th>Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
          <tr>
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.endereco.cidade?.nome }}</td>
            <td>{{ pessoa.endereco.cidade?.estado.nome }}</td>
            <td>
                <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
                  tooltipPosition="top"
                  (click)="mudarStatus(pessoa, $event)">
                    {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
                </a>
            </td>
            <td class="col-acoes">
              <!--button pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/pessoas', pessoa.codigo]"></button-->
              <!-- button pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/pessoas', pessoa.codigo]"></button-->
              <a pButton icon="fa fa-pencil" pTooltip="Editar" tooltipPosition="top"
                  [routerLink]="['/pessoas', pessoa.codigo]"></a>
              <!--button pButton icon="fa-trash" 
                  pTooltip="Excluir" tooltipPosition="top"
                  (click)="confirmarExclusao(pessoa)"></button-->
              <button pButton icon="fa fa-trash" 
                  pTooltip="Excluir" tooltipPosition="top"
                  (click)="confirmarExclusao(pessoa)"></button>                  
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="5">
              Nenhuma pessoa encontrada.
            </td>
          </tr>
        </ng-template>
      </p-table>
      <!-- TURBOTABLE -->
    </div>

    <div class="ui-g-12">
      <a routerLink="/pessoas/novo" pButton label="Nova Pessoa"></a>
    </div>
  </div>

</div>

