.navbar {
  padding: 10px 0;
  background-color: #1e94d2;
}

.navbar-toggle {
  color: #fff;
}

.navbar-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  width: 210px;
  margin: 0;
  padding: 0;
  z-index: 9998;

  background-color: #3a3633;

  list-style: none;
}

.navbar-usuario {
  padding: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #525151;

  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

.navbar-menuitem {
  padding: 15px;
}

.navbar-menuitem a {
  color: #c0bbb7;
  text-decoration: none;
}

.navbar-menuitem a:hover {
  color: #fff;
}

/** Se tiver um elemento com essa classe CSS navbar-menuitem e tambem, ao mesmo, tempo, a Classe ativo,
    a gente vai aplicar um estilo CSS para o link ativo:
    <li class="navbar-menuitem ativo"><a routerLink></a></li>   
**/
.navbar-menuitem.ativo {
  background-color: #494541;  /** cinza-escuro **/

}