/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/**
  * Aula 25.05. Corrigindo Icones
  *
  * 12.1. Agora, vamos resolver a questao dos botoes estarem grudados, praticamente. Vamos abrir o arquivo style.css.
  * 
  * 13. Logo abaixo da tag <a>, vamos definir a correcao para os butoes estarem, praticamente, grudados. Vamos definir, para a, button,
  * margin-right de .20em.
  * 
  * 14. Agora, vamos testar para ver se ja melhorou, http://localhost:4200/pessoas/1.
  *
  * 15. Agora, vamos voltar em lancamento-pesquisa-component.html para alterar o botao para link. Anteriormente, foi alterado de link 
  * para botao por causa da questao do espacamento. Agora, vamos corrigir para ficar como foi definido originalmente.
  * Ver lancamento-pesquisa-component.html.
  *
**/

a, button {
  margin-right: .20em
}

label {
  font-weight: bold;
}

.ui-dropdown-filter-container {
  width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.col-valor {
  width: 120px;
  text-align: right;
}

.col-valor-header {
  width: 120px;
  /** Remover o alinhamento **/
  /** text-align: right; **/
}

.col-data {
  width: 120px;
  text-align: center;
}

.col-data-header {
  width: 120px;
  /** Remover o alinhamento **/
  /** text-align: center; **/
}

.col-acoes {
  width: 90px;
  text-align: center;
}

.col-acoes-header {
  width: 90px;
  /** Remover o alinhamento **/
  /** text-align: center; **/
}

